<h1 id="python-markdown-note">Python-Markdown Note</h1>
<h2 id="installation">Installation</h2>
<pre><code class="bash"># ふつうに pip でインストール。
pip install markdown
</code></pre>

<h2 id="usage">Usage</h2>
<pre><code class="python">import markdown
print(markdown.markdown(md_text, extensions=[]))
</code></pre>

<h2 id="_1">デフォルトじゃできないこと</h2>
<h3 id="_2">コード</h3>
<p>extensions に <code>fenced_code</code> を追加。 (2 では <code>fenced-code-blocks</code>)</p>
<pre><code>```python
てかデフォルトでこれができねーのがビックリなんだよ。
```
</code></pre>
<h3 id="_3">テーブル</h3>
<p>extensions に <code>tables</code> を追加。 (2 でも同名。)</p>
<table>
<thead>
<tr>
<th>Table</th>
<th>は</th>
<th>ぜひとも</th>
</tr>
</thead>
<tbody>
<tr>
<td>使いたい</td>
<td>よ</td>
<td>ね</td>
</tr>
</tbody>
</table>
<h3 id="dl-dt-dd">dl dt dd</h3>
<p>extensions に <code>def_list</code> を追加。 Sublimeちゃんの Omni では出ないっぽいけど。</p>
<dl>
<dt>DT</dt>
<dd>DL</dd>
</dl>
<h3 id="_4">デフォルトだとリストがバカなのでなんとかする</h3>
<p>extensions に <code>sane_lists</code> を追加。 (2 では必要ない。)</p>
<ul>
<li>ひとつめ</li>
<li>ふたつめ</li>
</ul>
<ol>
<li>ひとつめ</li>
<li>ふたつめ</li>
</ol>
<h3 id="_5">目次</h3>
<p>extensions に <code>toc</code> を追加。 これはシンプルなMDという観点からは余計な気がするけど、これを自動で生成してくれるのはよくね?</p>
<div class="toc">
<ul>
<li><a href="#python-markdown-note">Python-Markdown Note</a><ul>
<li><a href="#installation">Installation</a></li>
<li><a href="#usage">Usage</a></li>
<li><a href="#_1">デフォルトじゃできないこと</a><ul>
<li><a href="#_2">コード</a></li>
<li><a href="#_3">テーブル</a></li>
<li><a href="#dl-dt-dd">dl dt dd</a></li>
<li><a href="#_4">デフォルトだとリストがバカなのでなんとかする</a></li>
<li><a href="#_5">目次</a></li>
<li><a href="#_6">文字強調</a></li>
<li><a href="#_7">脚注</a></li>
<li><a href="#css-md">CSS とかは MD の中で普通に読み込める</a></li>
<li><a href="#md">クラスをMDに書けるように</a><ul>
<li><a href="#_8"></a></li>
</ul>
</li>
</ul>
</li>
</ul>
</li>
</ul>
</div>
<h3 id="_6">文字強調</h3>
<p>extensions に <code>markdown.extensions.smart_strong</code> を追加。 へんなふうにいくつも<code>**</code>を重ねたりしたときのエラーを防げるっぽい。 念のために入れておこうか。</p>
<p><strong>太文字</strong>、<strong>太文字</strong>。</p>
<h3 id="_7">脚注</h3>
<p>extensions に <code>footnotes</code> を追加。</p>
<p>まあ別にそんなに使わない<sup id="fnref:1"><a class="footnote-ref" href="#fn:1" rel="footnote">1</a></sup>けど使い方だけ覚えておこうか。<sup id="fnref:foobar"><a class="footnote-ref" href="#fn:foobar" rel="footnote">2</a></sup></p>
<h3 id="css-md">CSS とかは MD の中で普通に読み込める</h3>
<p><link rel="stylesheet" href="./css.css"></p>
<p class="color-green">色を緑にしてみる。</p>
<p>これを使えば、画像を複数記事に渡って使いたいって要望が解決するかも。(<code>background-image</code> とかで)</p>
<h3 id="md">クラスをMDに書けるように</h3>
<p>extensions に <code>attr_list</code> を追加。 これは世界が広がるぞ。 すごい。 style をMD内にふつうに書けるのもいい。</p>
<style>
    .color-red {
        color: red;
    }
    .black-dot {
        display: block;
        background: black;
        border-radius: 50%;
        width:10px;
        height:10px;
        margin-left:15px;
    }
</style>

<p class="color-red">色を赤くしてみる。</p>
<p>ついでにおなじみの黒丸を出してみよう。  </p>
<h4 class="black-dot" id="_8"></h4>
<p>● (本物)</p>
<p>文章の<em class="color-red">最中</em>に style を表示してみる。 何の意味もない<code>* *</code>にこんな使い方があったとは…。</p>
<pre><code class="python"># 背景色ない版
# 背景色ない版
# 背景色ない版
</code></pre>

<pre><code class="python"># 背景色ある版
# 背景色ある版
# 背景色ある版
</code></pre>

<p>{: .bg-light-color}</p>
<p>attr_list が fenced_code に適用されねえ!!</p>
<div class="footnote">
<hr />
<ol>
<li id="fn:1">
<p>ひとつめの脚注。&#160;<a class="footnote-backref" href="#fnref:1" rev="footnote" title="Jump back to footnote 1 in the text">&#8617;</a></p>
</li>
<li id="fn:foobar">
<p>ふたつめの脚注。&#160;<a class="footnote-backref" href="#fnref:foobar" rev="footnote" title="Jump back to footnote 2 in the text">&#8617;</a></p>
</li>
</ol>
</div>